* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inter-heading> {
    font-family: "heading", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #a5b1c2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    .container {

        width: 70%;
        max-width: 25rem;
        color: #f6f2f2;
        background-color: #1e272e;
        margin: .625rem auto 0;
        border-radius: .625rem;
        padding: .9375rem .625rem;
        text-align: left;
        box-shadow: 5px 5px 20px rgba(0, 0,  0, 0.5);
        h1 {
            font-family: header, sans-serif;
            margin-bottom: 1.25rem;
            color: #b3dc2e;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                position: relative;
                cursor: pointer;
                padding: .75rem .4375rem .75rem 2.1875rem;
                font-size: 1.125rem;
                transform: 0.3s;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                &:hover {
                    background-color: #636272;
                }
            }
            .checked {
                color: rgba(219, 114, 135, 0.961);
                text-decoration: line-through;
                &::before {
                    content: "";
                    position: absolute;
                    border-color: #fff;
                    border-style: solid;
                    border-width: 0 .125rem .125rem 0;
                    top: .625rem;
                    left: .9375rem;
                    transform: rotate(45deg);
                    height: .9375rem;
                    width: .5rem;
                }
            }
        }
    }
}